<div>
  <div>


    <!--    <h1>Angular Service</h1>
    <div>
      <h2>App Counter: {{ appCounterService.counter }}</h2>
      <button (click)="appCounterService.increase()">+</button>
      <button (click)="appCounterService.decrease()">-</button>
    </div>
    <div>
      <h2>Local Counter: {{ localCounterService.counter }}</h2>
      <button (click)="localCounterService.increase()">+</button>
      <button (click)="localCounterService.decrease()">-</button>
    </div>
  </div>

  <app-counter></app-counter>

    <div>
      <h1>Angular Pipes</h1>

      <input type="text" [(ngModel)]="search">

      <button (click)="searchField = 'title'">Title</button>
      <button (click)="searchField = 'text'">Text</button>

      <hr />

      <button (click)="addPost()">Add new post</button>

      <div *ngFor="let post of posts | filter:search:searchField">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>
      </div>

      <p>Wait for promise... {{ promise | async }}</p>
      <p>{{ myDate$ | async | date:'HH:mm:ss, yyyy' }}</p>
      <p>{{ nowDate | date:'HH:ss:yyyy' }}</p>

      <p>{{ 10 |mult }}</p>
      <p>{{ 10 |mult:2 }}</p>
      <p>{{ 10 |mult:3}}</p>
      <p>{{ 10 |mult:5 }}</p>
      <p>{{ 10 |mult:10 }}</p>
      <p>{{ 10 |mult:20 }}</p>

      <p>{{ 'Hello work , understand' | exMarks}}</p>

      <p>{{ str | uppercase | lowercase | titlecase | slice:2:-1}}</p>
      <p>{{ str | slice:1:5 | titlecase }}</p>

      <p>{{ e | number:'1.1-5' }}</p>
      <p>{{ e | number:'3.1-3' }}</p>
      <p>{{ e | number:'1.0-0' }}</p>

      <p>{{ date | date:'EEEE, MMMM dd, yyy, HH:mm:ss' }}</p>

      <p>{{ float }}</p>
      <p>{{ float | currency }}</p>
      <p>{{ float | percent:'2.1-2'}}</p>

      <pre>{{ obj | json }}</pre>
    </div>-->

    <hr />
    <div>
      <p appStyle="red" fontWeight="bold" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
        Angular Directives
      </p>
      <p appStyle="blue" fontWeight="lighter" [dStyles]="{border: '2px solid red', borderRadius: '15px'}">
        Angular Directives
      </p>
      <button (click)="isVisiable = !isVisiable">Delete</button>
      <div *appIfnot="!isVisiable">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, tempora.</p>
      </div>
    </div>

    <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
    <hr />
    <app-post *ngFor="let p of posts" [post]="p">
      <div #info>
        <small *ngIf="p.text.length > 10; else short">Great post</small>
        <ng-template #short>
          <small>Small post</small>
        </ng-template>
      </div>
    </app-post>
  </div>
